.statsTab-container {
  width: 100%;
  margin: 0;
  padding-top: 1.25em;
  position: relative;
  &--filter {
    padding: 1.15em 0 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-bottom: 1px solid #e4e4e4;
    h4 {
      flex: 1;
      text-align: center;
      font-weight: 500;
      font-size: 0.95rem;
      padding-bottom: 1.5em;
      position: relative;
      cursor: pointer;
      color: #888;
    }
    .active {
      color: black;
      &:after {
        content: " ";
        width: 100%;
        height: 4px;
        border-radius: 8px;
        background-color: #c3c3c3;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
    &__table {
      &--content {
        table {
          thead {
            tr {
              td {
                padding-top: 1.5em !important;
              }
            }
          }
        }
      }
      &__groups {
        width: 100%;
        &--header {
          padding: 1em 1.5em;
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }
        &--content {
          table {
            tbody {
              tr:last-child {
                td {
                  padding-bottom: 1em;
                }
              }
            }
          }
        }
      }
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    thead {
      color: #aaa;
      font-weight: 600;
      text-transform: uppercase;
      td {
        padding: 1.5em 0em 1.25em;
        font-size: 0.775rem;
        &:first-child {
          text-align: left !important;
          padding-left: 2em;
        }
        &:not(:nth-child(1)) {
          padding-right: 0em;
          text-align: center;
        }
        &:last-child {
          padding-right: 1em;
        }
      }
    }
    tbody {
      img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 0.75em;
      }
      .team {
        display: flex;
        align-items: center;
        img:hover {
          cursor: pointer;
        }
        p:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      tr {
        &:nth-child(even) {
          background-color: #eee;
        }
        td {
          padding: 0.5em 0;
          font-weight: 500;
          color: #777;
          &:first-child {
            text-align: left !important;
            padding-left: 2.2em;
          }
          &:not(:nth-child(1)) {
            text-align: center;
          }
          &:last-child {
            padding-right: 1em;
          }
        }
      }
      .form-box {
        display: flex;
        align-items: center;
        justify-content: center;
        div {
          width: 11.5px;
          height: 11.5px;
          border-radius: 50%;
          margin: 0 0.25em;
          &:first-child {
            margin: 0 0.25em 0 0;
          }
          &:last-child {
            margin: 0 0 0 0.25em;
          }
        }
        .won {
          background-color: #5cb85c;
        }
        .lost {
          background-color: #ff4444;
        }
        .draw {
          background-color: #999;
        }
      }
      td:not(:first-child) {
        min-width: 60px;
        font-size: 0.875rem;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .statsTab-container {
    width: 100%;
    min-height: unset;
    box-shadow: none;
    width: 100%;
    padding: 1.25em 0;
    &--filter {
      width: 100%;
      padding: 0.5em 0 0;
      overflow-x: auto;
      h4 {
        white-space: nowrap;
        margin-right: 1em;
      }
      .active {
        &::after {
          height: 3px;
        }
      }
    }
    &--content {
      overflow-x: scroll;
    }
    table {
      width: 100%;
      thead {
        td {
          padding: 1em 0.75em 1.25em;
          font-size: 0.875rem;
          &:first-child {
            padding-left: 1.25em;
            padding-right: 1.65em;
            position: sticky;
            left: 0;
            z-index: 1;
            background-color: whitesmoke;
          }
          &:not(:nth-child(1)) {
            padding-right: 0em;
            text-align: center;
          }
          &:last-child {
            padding-right: 1.25em;
          }
        }
      }
      tbody {
        img {
          width: 27.5px;
          height: 27.5px;
          border-radius: 50%;
          margin-right: 1em;
        }
        .team {
          display: flex;
          align-items: center;
        }
        tr {
          &:nth-child(even) {
            td:first-child {
              background-color: #eee;
            }
          }
          &:nth-child(odd) {
            td:first-child {
              background-color: whitesmoke;
            }
          }
          td {
            padding: 0.75em;
            &:first-child {
              padding-left: 1.25em;
              padding-right: 1.65em;
              position: sticky;
              left: 0;
              z-index: 1;
            }
            &:not(:nth-child(1)) {
              text-align: center;
            }
            &:last-child {
              padding-right: 1.25em;
            }
          }
        }
        td:not(:first-child) {
          min-width: 50px;
          font-size: 0.925rem;
        }
      }
    }
  }
}
