.navbar-container {
  width: calc(100% - 0.7em);
  position: fixed;
  top: 0.35em;
  left: 0.35em;
  border-radius: 4px;
  z-index: 9999;
  .menu {
    padding: 1em 1.25em;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .icon {
      font-size: 1.25rem;
      color: #333;
      cursor: pointer;
    }
    .link {
      text-transform: capitalize;
      font-size: 1.15rem;
      font-weight: 600;
      cursor: pointer;
    }
  }
  .nav--list {
    padding: 4em 1.25em 2em;
    border-radius: 4px;
    position: absolute;
    top: 0.1em;
    width: 100%;
    height: calc(100vh - 0.75em);
    overflow-y: auto;
    background-color: whitesmoke;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    transform: scaleY(0);
    z-index: -2;
    visibility: hidden;
    transform-origin: top;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1),
      visibility 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
    .nav--links {
      padding: 1.5em 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #e4e4e4;
      p {
        font-size: 1.15rem;
        color: #333;
      }
    }
    h4 {
      padding: 0.25em 0 1em;
      color: #333;
    }
    ul {
      list-style-type: none;
      li,
      .link {
        width: 100%;
        padding: 1em 0;
        border-bottom: 1px solid #e4e4e4;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1em;
        img {
          width: 30px;
          height: 30px;
          border-radius: 4px;
        }
        .icon {
          margin-left: auto;
          margin-right: 0.25em;
        }
      }
    }
    .list--header {
      display: flex;
      gap: 1em;
      align-items: center;
      width: fit-content;
      cursor: pointer;
      .goBack--icon {
        padding: 1em 0;
        color: #333;
      }
    }
  }
  .nav--list__active {
    transform: scaleX(1);
    visibility: visible;
  }
  .league--active {
    z-index: -1;
  }
}

.navbar-container--bg {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

@media only screen and (min-width: 1024px) {
  .navbar-container {
    display: none;
  }
}
